.hero-header {
  position: relative;
  overflow: hidden;
  min-height: 30vh; /* Reduced from 100vh for less vertical space */
  margin: 0;
  padding: 0;
}

.hero-background-overlay {
  background: rgba(0, 0, 0, 0.4); /* Overlay color */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.hero-content {
  width: 100%;
  animation: fadeIn 2s ease-out;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  margin: 0;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffffff, #cccccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.5);
  animation: glowPulse 3s infinite ease-in-out;
}

.hero-subtitle {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  width: 100%;
  margin: 4px 0;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
  opacity: 1;
  animation: fadeIn 2.5s ease-out;
}

.hero-subtitle + .hero-subtitle {
  margin-top: 4px; /* Corrected value from 4 to 4px */
}

.about-section {
  margin-top: 20px; /* Reduced from 50px */
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.about-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.about-section p {
  margin-bottom: 4px;
  font-size: 1.2rem;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.6);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.6);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-header {
    min-height: 70vh; /* Reduce height further on small screens */
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .about-section {
    margin-top: 4px;
  }
}


  
  
  